/*reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #f0ebf8;
}

h1,
h2,
h3,
h4 {
  color: #333;
}

p,
label {
  color: #444;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
  width: 40rem;
}

/*áre da descrição do produto*/
textarea {
  padding: 1rem 0.5rem;
}

/*pade header*/
.header {
  height: 16rem;
  padding: 2rem;
  background-color: #673ab7;
}

.header h1 {
  color: #fff;
  margin-top: 0;
}

/* form container */
.form-container {
  background-color: #fdfdfd;
  width: 60%;
  margin: 0 auto;
  position: relative;
  /* posição relativa porque se tiver algum elemento absoluto dentro dele, ele vai ser a referência*/
  top: -6.2rem;
}

/*form header*/
.form-header {
  border-bottom: 1px solid #dfdfdf;
  height: 4rem;
}

.form-header p {
  color: #673ab7;
  border-bottom: 2px solid #673ab7;
  width: 10rem;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 4.4rem;
  line-height: 4.5rem;
}

/*form body*/
.form-body {
  padding: 3rem;
}

.form-title {
  margin-bottom: 1.5rem;
}

.form-body p {
  margin-bottom: 2rem;
}

.required-field {
  color: #d80835;
}

.box-input {
  margin-bottom: 3.5rem;
}

.block {
  display: block;
}

.optional-box {
  display: inline-block;
  margin: 0 3rem 3rem 0;
}

.optional-list li {
  list-style: none;
}

.box-input p {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.btn-submit {
  background-color: #673ab7;
  color: #fff;
  border: 0.2rem solid transparent;
  width: 15rem;
  height: 5rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn-submit:hover {
  background-color: #ffff;
  border-color: #673ab7;
  color: #673ab7;
}
